* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f5;
}

header {
  transition: 0.6s;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background-color: #fff;
}

.banner {
  /* background-image: url(images/alex-bierwagen-5tW1ca0Zq18-unsplash.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/luke-working.jpg');
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  background-attachment: fixed;
  /* opacity: 0.2; */
}

/* .banner::before {
  background-image: url('./images/luke-working.jpg');
  position: relative;
} */

.banner-content {
  padding-top: 15vh;
}

.greet, .name {
  /* display: block; */
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0.75rem auto;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* h2.greet { */
  /* font-size: 1.6rem;
  font-weight: 700;
  color: #38285c; */
  /* font-size: 1.6rem; */
  /* font-weight: 300; */
  /* font-style: italic; */
/* } */

/* h1.introduction {
  display: block;
  font-size: 5rem;
  color: #fff;
} */

h1.introduction {
  display: block;
  /* font-size: 2.5rem; */
  color: #fff;
  margin: 15vh auto 7.5vh;
  /* text-transform: lowercase; */
  /* text-transform: capitalize; */
}

h2.job-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

hr {
  background-color: white;
}

.my-link {
  color: white;
  margin: 0.5rem;
}

/* #working > img {
  margin-top: 7.5rem;
  filter: grayscale(25%) brightness(75%);
  border-radius: 50%;
} */

#working > img {
  margin-top: 7.5rem;
  filter: grayscale(25%) brightness(75%);
  /* border-radius: 50%; */
  display: none;
}

/* #about {
    margin: 0.5rem;
  padding: 0.5rem;
} */

.content {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /*border: 5px solid red;*/
  /* border-radius: 10px; */
  /* margin: 0.5rem; */
  /* padding: 0.5rem; */
  /* margin-bottom: 1rem; */
}

#professional-photo{
  display: block;
  max-width: 90%;
  border-radius: 0.5rem;
  margin: 1.75rem auto;
}

.title {
  font-size: 1.2rem;
  color: gray;
  margin:  0.5rem auto 1rem;
}

p {
  font-size: 0.90rem;
}

.tools {
  width: 80px !important;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

h2.title {
  font-size: 1.2rem;
  color: gray;
  margin:  0.5rem auto 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  /* margin: 1rem; */
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem auto;
}

li {
  list-style: none;
  display: inline;
}

.bg-night {
  background-color: #080920;
}

.pre-footer {
  background-image: url(images/alex-bierwagen-5tW1ca0Zq18-unsplash.jpg);
  color: #fff;
}

footer {
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  /* font-size: 0.75rem; */
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  h1.introduction {
    font-size: 3.5rem;
  }

  #header p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem auto 0.5rem;
  }

  .title {
    font-size: 1.25rem;
    margin:  0.5rem auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

  .banner-content {
    margin-top: 12vh;
  }

  .content {
    border-radius: 10px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .banner {
    background-image: url(images/alex-bierwagen-5tW1ca0Zq18-unsplash.jpg);  
  }

  .banner-content {
    margin-top: 10vh;
  }

  h1.introduction {
    font-size: 4rem;
  }

  hr {
    display: none;
  }

  .title {
    font-size: 1.5rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}